*.xcuserstate
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/xcuserdata/tbug.xcuserdatad/xcschemes/xcschememanagement.plist
*.json

*.yaml
.build/debug
*.db
.build/.lock
*.txt
*.pcm-1PBMDKDJCMSMW
*.o-11NRTHZKNK1SF
.build/arm64-apple-macosx/debug/DeviceSecurityKit.build/include
.build/arm64-apple-macosx/debug/DeviceSecurityKit.build
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.build
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.derived

.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.product
.build/arm64-apple-macosx/debug/DeviceSecurityKitTests.build

.build/arm64-apple-macosx/debug/ModuleCache

.build/arm64-apple-macosx/debug/index/store/v5/units

.build/arm64-apple-macosx/debug/index/store/v5/records
.build/arm64-apple-macosx/debug/Modules
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.xctest/Contents/MacOS/DeviceSecurityKitPackageTests.dSYM/Contents/Resources/DWARF
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.xctest/Contents/MacOS/DeviceSecurityKitPackageTests.dSYM/Contents/Resources/Relocations/aarch64
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.xctest/Contents/MacOS/DeviceSecurityKitPackageTests.dSYM/Contents
.build/arm64-apple-macosx/debug/DeviceSecurityKitPackageTests.xctest/Contents/MacOS
